$main-bg-c: #ffff;
$bg-header-img: url('../img/m-h-day.jpg') no-repeat;
$places-footer-bg-c: #21232e;
$heading-color: #2c2f3c;
$btn-color: #699900;
$sans-pro: 'Source Sans Pro', sans-serif;
$place-description-text: 'Hind', sans-serif;
$places-footer-bg-c:  #21232e;
$from-grad-c: #649412;
$to-grad-c: #2f5dd1;
$mark-color: #14a0c7;

