$main-bg-c: #21232e;
$bg-header-img: url('../img/m-h-night.jpg') no-repeat center;
$places-footer-bg-c: lighten($main-bg-c, 13%);
$heading-color: #ffff;
$btn-color: #e3ac00;
$sans-pro: 'Source Sans Pro', sans-serif;
$place-description-text:   'Fresca', sans-serif;;
$places-footer-bg-c:  #3b3f50;
$from-grad-c: #dea405;
$to-grad-c: #942f50;
$mark-color: #ff4e33;