
body {
  padding: 0;
  margin: 0 0 5vh;
}

.container {
  width: 1140px;
  margin: 20px auto;
 
}
.month {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.day-week {
  display: grid;
  grid-template-columns: repeat(7, 120px);
  grid-template-rows: repeat(6, 120px);
  gap: 10px;
  justify-content: center;
}
.day {
  align-content: center;
  border: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
}
.week-days {
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
}
.past-days {
  background-color: white;
}